body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

div.container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.separator {
  height: 7px;
  background-color: #fff;
}